<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @camp.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @camp.cost %>
</p>


<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
